# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npmignore

# Build output
build/
out/

# TypeScript
*.tsbuildinfo

# Sources
src/
dist/constants
dist/core
dist/types
dist/utils
dist/*.ts
dist/*.js
dist/*.map

# !dist/cdn/
# !dist/esm/
# !dist/cjs/

# Testing
coverage/
tests/
*.lcov

# IDEs and editors
.vscode/
.idea/
*.sw?
*.swo

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*.local

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml

script.sh

# Configs
rollup.config.js
tsconfig.json
typedoc.json
vite.config.ts
vite.js.config.ts
vitest.config.ts
